<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
     <add key="db_server" value="mssql-alpha01.c1wvenuk4git.us-east-2.rds.amazonaws.com"/>
    <add key="db_user" value="rds_user"/>
    <add key="db_key" value="GXeBtQuH7b"/>
    <add key="db_catalog" value="JupiterDirect"/>
  <add key="charge_validation_url" value="http://209.246.137.105/commerceservers/PivotalServer/SubmitTransaction.aspx" />

    <!--<add key="charge_validation_url" value="http://209.246.137.105/CommerceServers/PivotalServer/SubmitTransaction.aspx"/>
    <add key="store_charge_validation_url" value="http://209.246.137.105/CommerceServers/PivotalServer/SubmitTransaction.aspx"/>-->
    <add key="charge_validation_url" value="https://apitest.authorize.net/xml/v1/request.api"/>
    <add key="store_charge_validation_url" value="https://apitest.authorize.net/xml/v1/request.api"/>
    <add key="VisaMC_charge_validation_url" value="https://apitest.authorize.net/xml/v1/request.api"/>
    <add key="charge_validation_fake_success" value="n"/>
    <!--
    <add key="VisaMC_charge_validation_url" value="http://209.246.137.105/commerceservers/PivotalServer/SubmitTransaction.aspx" />
-->
    <!--<add key="VisaMC_charge_validation_url" value="http://209.246.137.105/CommerceServers/PivotalServer/submitTransaction.aspx"/>-->
    <!-- <add key="VisaMC_charge_validation_url" value="http://209.246.137.105/commerceservers/PivotalServer/SubmitTransaction.aspx" /> -->
    <!--<add key="charge_validation_fake_success" value="n"/>-->
    <!--<add key="charge_validation_fake_success" value="y"/>-->
    <add key="default_site_description" value="This is the default biz site description"/>
    <!-- DIRTY WORDS! -->
    <add key="bw" value="E0YSzCRCqUM=,eSymBPMI3SY=,MZZ/G912Yq4=,n6oAXsKEVl8=,13Rgea6z6B4=,iVWFQblX3zY=,KT9dCuiA7p0=,s0y6/lbuf14=,W338T1vEkeA=,NeO7HEm5t4c=,Rb8J467kYYk=,sdwCCvvcuqY=,XoMSzWTUylc=,ECQMpGnEU+c=,odGeVys8tCw=,brwUUWWjSQQ=,RPRIuFasGyE=,Y+bs2C1eFhw=,MghQUU2Ffs0=,EZEK2TE4uGs=,QurccP/by2A=,AYwNsleDF7k=,XtIHuwjsuU0=,tJK/WhMdx5Y=,eZqYey9UvGg=,1zFUE66J644=,UKQoml30Z8o=,o0hSX9RjxKo=,T85z7dcEmec=,71EVAMNHCDk=,dULOLfnMDC8=,G8PpcTXigyA=,3t6WEVESyiM=,Lvv3AB/0vtI=,+7HiDeGKXKY=,6u2At/wS6ds=,zGnK3WhVvys=,LTixUz8weY0=,Oo+dFg45T5E=,CRFmnuutB/I=,xWo7mWlwSvM=,wz8iBsolFVo=,WlqScAMWsC4=,ozQ4gQTeFmE=,GwgEsQDe+kM=,NCgiu16d2H4=,l2mu7vuaZxo=,5NVqyz/MS7g=,am+XCOrs7YQ=,gw61xn/Xffg=,smJBnkVc01Q=,tmInEDUx9ck=,vQP04OBURQA=,wFyluBmqJdY=,pm3YFPSGsJ8=,kDLvmkrkOUM="/>
    <add key="todayondatabase" value="6/8/2005"/>
    <add key="resetPasswordFrom" value="repsupport@ultimatematch.com"/>
    <add key="resetPasswordCc" value="repsupport@ultimatematch.com"/>
    <add key="resetPasswordBcc" value="kvanover@si2.com, kevin.swanson@gmail.com, kswanson@si2.com, tpetrone@si2.com"/>
    <add key="resetPassword1" value="e/gBfNmN6NE="/>
    <add key="resetPassword2" value="Pfzq0mYJL0o="/>
    <add key="resetPassword3" value="5SFvTV+SUt2S4neyQx4uGQ=="/>
    <add key="resetPassword4" value="klfS6b6YBEc="/>
    <add key="resetPassword5" value="QUn4LVvF4ls="/>
    <add key="resetPassword6" value="KTfoQGK3MLrTVnBl4ate1Q=="/>
    <add key="resetPassword7" value="mSvo9cgPZAiS4neyQx4uGQ=="/>
    <add key="resetPassword8" value="vz2ak4jdzHk="/>
    <add key="resetPassword9" value="gWI8b6yp4OQ="/>
    <add key="resetPasswordList" value="DtMnMnOmGNXz0cwHT8FKfH9morGnkKrWdORxLgDAPj83kNQJTsrPYlVQ6P/F+jnItVaP/xca04ZWO28TyYrvxtZ9LPGngQPOQz7PpNlekeE0zeH0oNKjdKvSCMgbX5d4e54WPN1Em66S2dHCHZ/WqXGO4ps8o0+u/i1E++myFcVkiVDmw+DUJ2PtLY5agsvOszVEMHz6MFmd43wgq2Al6jxwTH76b/tVgNznxgOZmihujGfyxxJqM4VKpruXJrvqHu9jHvzyK328wiBPYTo4Z2VMumItfdbAoApKKCXwl+UbknZGmdG8Rty2m7iJXRedfVg7Iq+JOhc="/>
    <add key="resetPasswordSubject" value="UltimateMatch Support"/>
    <add key="mode" value="Dev"/>
    <add key="SignUpMerchantOffline" value="N"/>
    <add key="StoreMerchantOffline" value="N"/>
    <add key="MerchantOfflineIPExceptions" value="68.94.1.152,216.16.194.125"/>
    <add key="EnableACH" value="N"/>
    <add key="RXE_MA_URL" value="http://www.soulmate.com/external/soulpost.cfm?RequestTimeout=500"/>
    <add key="RXE_MA_Mode" value="production"/>
    <add key="RXE_Gift_URL" value="http://www.soulmate.com/external/gift_code_gen.cfm"/>
    <add key="UM_travel_link" value="http://www.ultimatematchtravel.com/membersignin.aspx?MemberID="/>
    <add key="RXE_Gift_Mode" value="production"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>