vti_encoding:SR|utf8-nl
vti_author:SR|EDW-WWW02\\Administrator
vti_timecreated:TR|18 May 2005 01:56:11 -0000
vti_timelastmodified:TR|13 May 2005 20:51:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|DataCalendar/calendar_popup.aspx
vti_lineageid:SR|{69A96743-8101-400C-8B18-39225BE4CE8F}
vti_cacheddtm:TX|13 May 2005 20:51:00 -0000
vti_filesize:IR|11275
